{% extends 'nav-template.html' %} {% block head %}
<!-- Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user’s experience. For more help http://xhr.spec.whatwg.org/ -->
<style type="text/css">
    p {
        width: fit-content;
    }

    /* dragula css */
    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }
    .gu-hide {
        display: none !important;
    }
    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
</style>

<div class="row mt-lg-2">
    <script id="js" sitting_id="{{sitting_id}}">
        function drag_handle(drag) {
            drag = dragula([document.getElementById("drag")], {
                moves: function (el, container, handle) {
                    return handle.classList.contains("draggable");
                },
                invalid: function (el, handle) {
                    return !can_drag;
                },
            });

            drag.on("drop", function (el, target, source, sibling) {
                console.log(target);
                console.log(source);
            });

        }

        function init() {
            let drag = null;

            $.getScript(
                "https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.js",
                function () {
                    drag = dragula([document.getElementById("drag")], {
                        moves: function (el, container, handle) {
                            return handle.classList.contains("draggable");
                        }
                    });
                }
            );
            $.getScript("/pps/src/agenda.js");
            activeNav();

            $("#SelectAgendaType").on("change", function (event) {
                if ($(this).val() == 1) {
                    $("#InputText").show();
                } else {
                    $("#InputText").hide();
                }
            });

            $("#newAgendaForm")
                .find("button.new-agenda")
                .on("click", (event) => {
                    let text = $("#InputText").val();
                    if (text == "" || text == undefined) {
                        return;
                    }

                    $.post(
                        "/pps/be/core/sitting/agenda/{{sitting_id}}",
                        {
                            reqtype: "new-agenda-text",
                            text: text,
                        },
                        (res) => {
                            location.href = location.href;
                        }
                    );
                });
        }
    </script>

    <div
        aria-hidden="true"
        aria-labelledby="exampleModalLabel"
        class="modal"
        id="newAgendaModal"
        tabindex="-1"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增議程</h5>
                    <button
                        aria-label="Close"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        type="button"
                    ></button>
                </div>
                <div class="modal-body">
                    <form id="newAgendaForm">
                        <label for="SelectAgendaType" class="form-label"
                            >議程</label
                        >
                        <select id="SelectAgendaType" class="form-select">
                            <option value="1" selected>文字</option>
                        </select>
                        <input
                            id="InputText"
                            type="text"
                            class="form-control mt-lg-3"
                        />
                        <div id="print"></div>
                        <button
                            type="button"
                            class="btn btn-primary mt-lg-3 new-agenda"
                        >
                            Submit
                        </button>
                        <button
                            class="btn btn-secondary mt-lg-3"
                            data-bs-dismiss="modal"
                            type="button"
                        >
                            Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div
        aria-hidden="true"
        aria-labelledby="exampleModalLabel"
        class="modal"
        id="setSleepDurationModal"
        tabindex="-1"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">設定時間</h5>
                    <button
                        aria-label="Close"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        type="button"
                    ></button>
                </div>
                <div class="modal-body">
                    <form id="durationForm">
                        <label for="InputDuration" class="form-label">時間(分鐘(不要打太大，是真的會放大60倍))</label>
                        <input
                            id="InputDuration"
                            type="number"
                            class="form-control mt-lg-3"
                        />
                        <div id="print"></div>
                        <button
                            type="button"
                            class="btn btn-primary mt-lg-3 submit"
                            id="submit"
                        >
                            Submit
                        </button>
                        <button
                            class="btn btn-secondary mt-lg-3"
                            data-bs-dismiss="modal"
                            type="button"
                        >
                            Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% end %} {% block content %}
    <div class="col-lg-5" id="agendaUI">
        <button class="btn btn-primary mb-lg-3 start" {% if is_start or is_end %}disabled{% end %}>開會</button>
        <button class="btn btn-secondary mb-lg-3 mx-lg-2 {% if not is_start or is_end%}disabled{% end %} pause" data-bs-toggle="modal" data-bs-target="#setSleepDurationModal">
            {% if sitting_pause %}
            復會
            {% else %}
            休會
            {% end %}
        </button>
        <button class="btn btn-secondary mb-lg-3 me-lg-2 {% if not is_start or is_end %}disabled{% end %} stop">
            散會
        </button>
        <button
            class="btn btn-primary mb-lg-3"
            data-bs-toggle="modal"
            data-bs-target="#newAgendaModal"
        >
            新增議程
        </button>
        <br />
        <label for="#editable" class="form-check-label"
            >編輯議程
            <input
                id="editable"
                class="form-check"
                type="checkbox"
                v-model="editable"
            />
        </label>

        <!-- mojang的code style(沒 -->
        <div id="drag">
            <!--  -->
            {% for idx, i in enumerate(agenda) %} 
            <!--  -->
            {% if i.get_type() == "text" %}
            <div class="my-lg-3">
                <button
                    class="btn btn-sm d-inline"
                    role="button"
                    v-if="editable"
                    @click="remove_agenda"
                >
                    <span class="material-symbols-outlined">delete</span>
                </button>
                <p
                    :class="{draggable: editable}"
                    class="d-inline agenda-index"
                    index="{{ idx }}"
                    onmousedown="return false"
                    onselect="return false"
                    id="{{i.get_text_id()}}"
                >
                    {{i.get_name()}}
                </p>
            </div>
            {% elif i.get_type() == "proposal-discussion" %}
            <!---->
            <div class="my-lg-3">
                <button
                    class="btn btn-sm d-inline"
                    role="button"
                    v-if="editable"
                    @click="remove_agenda"
                >
                    <span class="material-symbols-outlined">delete</span>
                </button>
                <p
                    :class="{draggable: editable}"
                    class="d-inline agenda-index"
                    index="{{ idx }}"
                    onmousedown="return false"
                    onselect="return false"
                    id="proposal-discussion"
                >
                {{i.get_name()}}
                    
                    <button
                        class="btn btn-sm"
                        data-bs-toggle="collapse"
                        href="#collapseProposal"
                        role="button"
                        aria-expanded="false"
                        aria-controls="#collapseProposal"
                    >
                        <span class="material-symbols-outlined"
                            >expand_more</span
                        >
                    </button>
                </p>
                <div class="collapse pe-auto" id="collapseProposal">
                    <div>
                    {{ proposal_html }}
                    </div>
                </div>
            </div>
            {% elif i.get_type() == "interpellations" %}
            <div>
                <button
                    class="btn btn-sm d-inline"
                    role="button"
                    v-if="editable"
                    @click="remove_agenda"
                >
                    <span class="material-symbols-outlined">delete</span>
                </button>
                <p
                    :class="{draggable: editable}"
                    class="d-inline agenda-index"
                    index="{{ idx }}"
                    onmousedown="return false"
                    onselect="return false"
                    id="interpellations"
                >
                    {{i.get_name()}}
                    <button
                        class="btn btn-sm"
                        data-bs-toggle="collapse"
                        href="#collapseInterpellations"
                        role="button"
                        aria-expanded="false"
                        aria-controls="#collapseInterpellations"
                    >
                        <span class="material-symbols-outlined"
                            >expand_more</span
                        >
                    </button>
                </p>
                <div class="collapse" id="collapseInterpellations">
                    <button
                        class="btn btn-primary mb-2"
                        @click="show_interpellation_ui"
                    >
                        質詢登記管理
                    </button>
                    <table>
                        <tbody>
                            <tr v-for="(interpellation, idx) in interpellations">
                                <th scope="col" :id="idx" :style="{ backgroundColor: interpellation['highlight'] }">{ interpellation['member_name'] }議員</th>
                                <td>
                                    <button
                                        v-if="interpellation['status'] == 0"
                                        :index="idx"
                                        @click="interpellation_timer"
                                        class="btn btn-primary ms-1 timer-start"
                                    >
                                        開始計時
                                    </button>
                                    <button
                                        v-if="interpellation['status'] == 1"
                                        :index="idx"
                                        @click="interpellation_timer"
                                        class="btn btn-primary ms-1 timer-pause"
                                    >
                                        暫停計時
                                    </button>
                                    <button
                                        v-if="interpellation['status'] == 2"
                                        :index="idx"
                                        @click="interpellation_timer"
                                        class="btn btn-primary ms-1 timer-keep"
                                    >
                                        恢復計時
                                    </button>
                                    <button
                                        v-if="interpellation['status'] == 2 || interpellation['status'] == 1"
                                        :index="idx"
                                        @click="interpellation_timer"
                                        class="btn btn-primary ms-1 timer-stop"
                                    >
                                        結束計時
                                    </button>
                                    <p v-if="interpellation['status'] == 3">已經質詢完畢</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% elif i.get_type() == "impromptu-motion" %}
            <div>
                <button
                    class="btn btn-sm d-inline"
                    role="button"
                    v-if="editable"
                    @click="remove_agenda"
                >
                    <span class="material-symbols-outlined">delete</span>
                </button>
                <p
                    :class="{draggable: editable}"
                    class="d-inline agenda-index"
                    index="{{ idx }}"
                    onmousedown="return false"
                    onselect="return false"
                    id="impromptu-motion"
                >
                    {{i.get_name()}}

                    <button
                        class="btn btn-sm"
                        data-bs-toggle="collapse"
                        href="#collapseImpromptu"
                        role="button"
                        aria-expanded="false"
                        aria-controls="#collapseImpromptu"
                    >
                        <span class="material-symbols-outlined"
                            >expand_more</span
                        >
                    </button>
                </p>
                <div class="collapse pe-auto" id="collapseImpromptu">
                    <button
                        class="btn btn-primary mb-2"
                        @click="show_impromptu_ui"
                    >
                        臨時動議管理
                    </button>
                    <table class="table">
                        <tbody>
                            <tr v-for="(impromptu, idx) in impromptus">
                                <th scope="col">{ impromptu.name }</th>
                                <td>
                                    <button class="btn btn-primary px-sm-1 py-sm-0" :id="impromptu.id" @click="without_objection">
                                        無異議通過
                                    </button>
                                    <button class="btn btn-primary px-sm-1 py-sm-0" :id="impromptu.id" @click="vote_ui">
                                        投票
                                    </button>
                                    <button class="btn btn-secondary px-sm-1 py-sm-0" :id="impromptu.id">
                                        取消
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% end %} {% end %}
        </div>

        <button class="btn btn-primary" @click="next_agenda">下個議程</button>
    </div>
    <div class="col-lg-6" id="UI" isOpenUI="false">
        <!-- proposal -->
        <!-- 
            單純新增刪除？
         -->

        <div id="proposalUI" style="display: none"></div>

        <!-- impromptu -->
        <!-- 
            大概先跟member那邊一樣
         -->

        <div id="impromptuUI" style="display: none">
            <div class="row">
                <div class="col-lg-4">
                    <h3>臨時動議管理</h3>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-primary" @click="start_submit">開放提案</button>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-primary" @click="close_submit">關閉提案</button>
                </div>
            </div>
            <table class="table" id="impromptuTable">
                <thead>
                    <tr>
                        <th scope="col">議案名稱</th>
                        <th scope="col">提案人</th>
                        <th scope="col">附議人數</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(impromptu, idx) in impromptus">
                        <th>{ impromptu.bill_name }</th>
                        <th>{ impromptu.name }</th>
                        <th v-if="impromptu.count >= 1" style="background-color: red;">{ impromptu.count }</th>
                        <th v-else>{ impromptu.count }</th>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-secondary mx-lg-2" @click="close_ui">
                關閉界面
            </button>
        </div>

        <div id="voteUI" style="display: none;" billId="">
            <div class="row">
                <div class="col-lg-6">
                    <h3>投票</h3>
                </div>
                <div class="col-lg-6">
                    <h3>倒數計時: { duration_format }</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <label class="form-label col">表決選項設定</label>
                    <select
                        id="SelectVoteOptionType col"
                        class="form-select"
                        v-model="vote_option_type"
                    >
                        <option value="1" selected>預設</option>
                        <option value="2">自訂</option>
                    </select>
                </div>
                <div class="col-lg-5">
                    <label for="InputDuration" class="form-label col"
                        >投票時間(秒數)</label
                    >
                    <input type="number" class="form-control col" v-model="duration" />
                </div>
                <div class="col-lg-2">
                    <label for="InputOpened" class="form-label col"
                        >記名</label
                    >
                    <input type="checkbox" class="form-check col" v-model="opened" style="transform: scale(150%);" />
                    
                </div>
            </div>

            <div class="my-lg-2" v-if="vote_option_type == 2">
                <input
                    v-model="custom_option"
                    type="text"
                    class="form-control"
                />
                <button
                    class="btn btn-primary my-lg-2"
                    @click="add_custom_option"
                >
                    新增選項
                </button>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th v-for="option in options">{ option.option }</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td v-for="option in options">{ option.count }</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" @click="start_vote">
                開始投票
            </button>
            <button class="btn btn-secondary mx-lg-2" @click="close_ui">
                關閉界面
            </button>
        </div>

        <div id="interpellationUI" style="display: none">
            <div class="row">
                <div class="col-lg-4">
                    <h3>質詢登記管理</h3>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-primary" @click="start_submit">開放登記</button>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-primary" @click="close_submit">停止登記</button>
                </div>
            </div>
            <table class="table" v-for="(interpellation, idx) in interpellations">
                <thead>
                    <tr>
                        <th scope="col">議員</th>
                        <th scope="col">被質詢之官員</th>
                        <th scope="col">職稱</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td :rowspan="interpellation.officials.length">
                            { interpellation.member_name }
                        </td>
                        <td>
                            { interpellation.officials[0].name }
                        </td>
                        <td>
                            { interpellation.officials[0].official_name }
                        </td>
                    </tr>

                    <tr v-if="interpellation.officials.length !== 1" v-for="(official, idx) in interpellation.officials">
                        <td>
                            <!-- { interpellation.member_name } -->
                        </td>
                        <td>
                            { official.name }
                        </td>
                        <td>
                            { official.official_name }
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm"></table>
            <button class="btn btn-secondary close" @click="close_ui">
                關閉界面
            </button>
        </div>
    </div>

    {% end %}
</div>
