body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #353b48;
}
.row .col-12.col-lg-3.mt-3.mt-lg-2 button {
    position: relative;
    width: 200px;
    height: 70px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background-color: #353b48;
    color: rgb(117, 217, 228);
    border: 5px solid rgb(117, 217, 228);
}
.row .col-12.col-lg-3.mt-3.mt-lg-2 button::before,
.row .col-12.col-lg-3.mt-3.mt-lg-2 button::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 5px;
    background-color: #353b48;
    transform: skew(50deg);
    transition: all 0.5s;
}
.row .col-12.col-lg-3.mt-3.mt-lg-2 button::before {
    top: -5px;
    left: 10%;
}
.row .col-12.col-lg-3.mt-3.mt-lg-2 button::after {
    bottom: -5px;
    right: 10%;
}
.row .col-12.col-lg-3.mt-3.mt-lg-2 button:hover::before {
    left: 80%;
}
.row .col-12.col-lg-3.mt-3.mt-lg-2 button:hover::after {
    right: 80%;
}