    <!--design by heyloon-->
        <div class="row justify-content-center">
            <title>臺南一中學生議會 - 委員會簡介</title>
            <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/styles.css">
            <div class="col-12 col-sm-auto text-center text-sm-right"><img src="assets/img/M-AQ7NJPtwi_OJlymHXMbCQ71r6JVokoY57fFX1Qp9OcvmvAjVmlajuCWIAtc3tCunqKin9y3iEs176-c-k-c0x00ffffff-no-rj.png" width="107" height="106"></div>
            <div class="col-auto text-center text-sm-left align-self-center mt-3 mt-sm-0">
                <h1>臺南一中學生議會</h1>
                <p class="lead">學聯會最高立法機構</p>
            </div>
        </div>
    </header>
    <div class="container bg-white border rounded border-white shadow-sm main">
        <h1>常設委員會</h1>
        <p class="lead">本會常設<span style="color: rgb(0, 0, 0); background-color: transparent;">財政委員會、學權及法制委員會、外務及活動委員會、畢業事務委員會、進修事務委員會共五個委員會。簡介如下。</span></p>
        <section class="content">
            <h2><span style="color: var(--cyan);">1</span>&nbsp;財政委員會</h2>
            <p>財政委員會負責以下事務：</p>
            <ol></ol>
        </section>
        <section class="content">
            <h2><span style="color: var(--info);">2</span>&nbsp;學權及法制委員會</h2>
        </section>
        <p>學權及法制委員會負責以下事務：</p>
        <section class="content">
            <h2><span style="color: var(--info);">3</span>&nbsp;外務及活動委員會</h2>
        </section>
        <p>外務及活動委員會負責以下事務：</p>
        <section class="content">
            <h2><span style="color: var(--info);">4</span>&nbsp;畢業事務委員會</h2>
        </section>
        <p>畢業事務委員會負責以下事務：</p>
        <section class="content">
            <h2><span style="color: var(--info);">5</span>&nbsp;進修事務委員會</h2>
        </section>
        <p>進修事務委員會負責以下事務：</p>
        <a class="btn btn-primary shadow" role="button" href="about.html">返回簡介 →</a>
    </div>