<!--design by heyloon-->
        <div class="row justify-content-center">
            <title>臺南一中學生議會議事系統 - 自治法規資料庫</title>
            <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/styles.css">
            <link rel="stylesheet" href="assets/css/Team-Horizontal-icons.css">
            <link rel="stylesheet" href="assets/css/Team-Horizontal-images.css">
            <div class="col-12 col-sm-auto text-center text-sm-right"><img src="assets/img/M-AQ7NJPtwi_OJlymHXMbCQ71r6JVokoY57fFX1Qp9OcvmvAjVmlajuCWIAtc3tCunqKin9y3iEs176-c-k-c0x00ffffff-no-rj.png" width="107" height="106"></div>
            <div class="col-auto text-center text-sm-left align-self-center mt-3 mt-sm-0">
                <h1>臺南一中學生議會簡介</h1>
                <p class="lead">學聯會最高立法機構</p>
            </div>
        </div>
    </header>
    <div class="container bg-white border rounded border-white shadow-sm main">
        <h1>自治法規</h1>
        <p class="lead">學聯會所有已公布之法規，歡迎議員參考。</p>
        <section class="content">
            <h2><span style="color: var(--cyan);">1</span>&nbsp;章程及中央法規</h2>
            <ol></ol>
        </section>
        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://drive.google.com/embeddedfolderview?authuser=0&amp;id=1dAGwRPTqv4icprGz6-XhaUwrkGwNOFal#list"></iframe></div>
        <section class="content">
            <h2><span style="color: var(--info);">2</span>&nbsp;學生會 - 行政法規</h2>
        </section>
        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://drive.google.com/embeddedfolderview?authuser=0&amp;id=1vSLXW61xosy5g0dX5OH6v4ecGL4KcXlS#list"></iframe></div>
        <section class="content">
            <h2><span style="color: var(--info);">3</span>&nbsp;學生議會 - 立法法規</h2>
        </section>
        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://drive.google.com/embeddedfolderview?authuser=0&amp;id=154ZYyHLT1O47JufF6fK_oU-qux4tEYbh#list"></iframe></div>
        <section class="content">
            <h2><span style="color: var(--info);">4</span>&nbsp;學生評議委員會 - 司法法規</h2>
        </section>
        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://drive.google.com/embeddedfolderview?authuser=0&amp;id=1c-jw-DVTvabHvEnyiEgkzNS0L0PRkRbV#list"></iframe></div>
        <h4><span style="color: var(--info);">#5</span>&nbsp;學生評議委員會 - 選舉相關法規</h4>
        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://drive.google.com/embeddedfolderview?authuser=0&amp;id=18AvFxEYwKTs7tEf8IJJggRVQAeSZcjFR#list"></iframe></div>
        <section class="content"></section><a class="btn btn-primary shadow" role="button" href="about.html">返回簡介 →</a>
    </div>