<style>
    h3 {
        text-align: center;
    }

    div.mb-3 {
        text-align: center;
    }

    button.submit {
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>

<script>
    function init() {
        $("button.submit").on("click", (event) => {
            let form = $("#resetForm");
            let print = form.find("#print");
            let wrapper = document.createElement("div");

            let mail = form.find("input#InputEmail").val();
            if (mail == undefined) {
                mail = '';
            }

            let password = form.find("input#InputPassword").val();
            let password_repeat = form.find("#InputPasswordRepeat").val();
            let flag = false;
            if (password == "" || password_repeat == "") {
                wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 密碼不可為空 </div>`;
                flag = true;
            } else if (password != password_repeat) {
                wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 密碼不相同 </div>`;
                flag = true;
            } else if (password.length < 5) {
                wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 密碼長度過短 </div>`;
                flag = true;
            } else if (!(password.match(/[a-z]/) || password.match(/[A-Z]/))) {
                wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 密碼不包含英文 </div>`;
                flag = true;
            } else if (!password.match(/\d/)) {
                wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 密碼不包含數字 </div>`;
                flag = true;
            }

            if (flag) {
                print.append(wrapper);
                setTimeout(() => {
                    print.html("");
                }, 1000);
                return;
            }
            
            let appointed_dates = form.find("select#selectAppointedDates").val();
            let sessions = form.find("select#selectSessions").val();
            $.post(
                "/pps/be/login",
                {
                    reqtype: "reset",
                    mail: mail,
                    password: password,
                    appointed_dates: appointed_dates,
                    sessions: sessions,
                },
                (res) => {
                    if (res[0] == "E") {
                        let print = form.find("#print");
                        let wrapper = document.createElement("div");

                        if (res == "Emembernoext") {
                            wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 帳號不存在 </div>`;
                        } else if (res == "Eoldpw") {
                            wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 不可使用舊密碼 </div>`;
                        } else if (res == "Eweakpw") {
                            wrapper.innerHTML = `<div class="alert alert-warning alert-dismissible" role="alert"> 密碼強度不足 </div>`;
                        }
                        print.append(wrapper);
                        setTimeout(() => {
                            print.html("");
                        }, 1000);
                    } else {
                        location.href = "/pps/login";
                    }
                }
            );
        });
    }

</script>
<div class="row row-cols-1 row-cols-lg-3 justify-content-center align-content-center" style="height: 100%;">
    <div id="login" class="col mt-1">
        <form id="resetForm" style="padding-top: 25%;">
            <h3>密碼重設</h3>
            <div class="mb-3">
                <label for="selectAppointedDates" class="form-label">屆數</label>
                <select id="selectAppointedDates">
                    {% from utils.numeric import num2chinese_num %}
                    {% for i in range(1, current_appointed_dates + 1) %}
                    {% if i == current_appointed_dates %}
                    <option value="{{ i }}" selected>第{{ num2chinese_num(i) }}屆</option>
                    {% else %}
                    <option value="{{ i }}">第{{ num2chinese_num(i) }}屆</option>
                    {% end %}
                    {% end %}
                </select>
            </div>
            <div class="mb-3">
                <label for="selectSessions" class="form-label">會期數</label>
                <select id="selectSessions">
                    <option value="1" {% if current_sessions== 1 %} selected {% end %}>第一會期</option>
                    <option value="2" {% if current_sessions== 2 %} selected {% end %}>第二會期</option>
                </select>
            </div>
            {% if member_id == '' %}
            <div class="mb-4">
                <input type="email" id="InputEmail" class="form-control" placeholder="Email address" required/>
                <div class="invalid-feedback">請輸入Email</div>
            </div>
            {% end %}
            <h4 class="text-center">密碼至少要5碼並且包含英文與數字</h4>
            <div class="mb-4">
                <input type="password" id="InputPassword" class="form-control" placeholder="Password" required/>
                <div class="invalid-feedback">請輸入密碼</div>
            </div>
            <div class="mb-4">
                <input type="password" id="InputPasswordRepeat" class="form-control" placeholder="Password again" required/>
                <div class="invalid-feedback">請輸入密碼</div>
            </div>
            <div class="mb-5 mb-lg-3" id="print"></div>
            <button type="button" class="btn btn-primary mb-3 submit" tabindex="8">
                重設密碼
            </button>
        </form>
    </div>
</div>