<script>
    function init() {
        $(".main-navbar").remove();

        const emitter = mitt();
        let ws_link = "";
        let sitting_id = "{{sitting_id}}";
        if (location.protocol !== "https:") {
            ws_link = `ws://${location.hostname}:3227/pps/be/sitting/pptws/{{sitting_id}}`;
        } else {
            ws_link = `wss://${location.hostname}/oj/be/sitting/pptws/{{sitting_id}}`;
        }
        var ws = new WebSocket(ws_link);

        ws.onopen = (event) => {
            ws.send(
                JSON.stringify({
                    action: "connection",
                    data: {
                        member_id: route.member_id,
                        sitting_id: sitting_id,
                    },
                })
            );

            ws.send(
                JSON.stringify({
                    action: "query",
                    data: {
                        type: "current-agenda"
                    }
                })
            );
        };

        ws.onmessage = (event) => {
            console.log("onmessage: ", event.data);
            let data = JSON.parse(event.data);

            emitter.emit("ws", data);
        };

        sleepVue(ws, emitter);
    }

    function send_data(ws, action, data) {
        ws.send(JSON.stringify({
            action: action,
            data: data
        }));
    }

    function sleepVue(ws, emitter) {
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    duration: 0,
                }
            },

            computed: {
                duration_format() {
                    let sec = this.duration % 60;
                    if (sec == 0) {
                        sec = "00";
                    } else if (sec < 10) {
                        sec = `0${sec}`;
                    }

                    let minute = parseInt(this.duration / 60);
                    return `${minute}:${sec}`;
                },
            },

            methods: {
                ws_handle(data) {
                    let agenda_type = data['data']['type'];
                    if (data['action'] == "notify") {
                        if (agenda_type == "sleep-pause-end") {
                            clearInterval(this.timerID);
                            this.duration = 0;
                        } else if (agenda_type == "next-agenda") {
                            location.href = "/pps/sitting/ppt/{{sitting_id}}/";
                        }
                    }

                    if (data['action'] == "update") {
                        if (data['data']['type'] == "sleep") {
                            this.duration = data['data']['duration'] - data['data']['run_times'];
                            this.timerID = setInterval(this.timer.bind(this), 1000);
                        } else {
                            location.href = "/pps/sitting/ppt/{{sitting_id}}/";
                        }
                    }
                },

                timer() {
                    if (this.duration == 0) {
                        return;
                    }
                    this.duration--;
                },
            },

            mounted() {
                emitter.on("ws", this.ws_handle);
            },

            delimiters: ["{", "}"],
        }).mount("#duration");
    }
</script>

<style>
    body {
        background-color: black;
        color: white; /* font color */
    }

    div#title {
        font-size: 4.5vh;
    }

    div.text {
        font-size: 4vh;
    }
</style>

<div class="row justify-content-center">
    <div class="col-8 text-center my-3" id="title">
        臺南一中學生議會第{{appointed_dates}}屆第{{sessions}}會期第{{sittings}}次
        {% if sitting_type == 0 %}預備會議
        {% elif sitting_type == 1 %}常會
        {% elif sitting_type == 2 %}臨時會
        {% elif sitting_type == 3 %}委員會
        {% end %}
    </div>

    <div class="row justify-content-center my-5" id="ppt">
        <div class="col-8 text-center my-5 text-center text">
            休會
        </div>
        <div class="col-8 text-center my-5 text-center text" id="duration">
            { duration_format }
        </div>
    </div>
</div>